@model ENTIDAD.Departamento

@{
    ViewBag.Title = "Eliminar Departamento";
}

<h3>¿Está seguro de borrar este registro?</h3>
<div>
     <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre de Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDepartamento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index", "", new { @class = "btn btn-info" })
        </div>
    }
</div>
